#include "views/htmlTemplates/base/header.tpl.html"
                        <div class="row">
                                <div class="span12">
                                        <div class="hero-unit">
                                                <h1>Oh Hai!</h1>
                                                <p>$topNews</p>
                                        </div>
                                        <div class="row">
                                                $posts
                                        </div>
                                </div>
                        </div>
#include "views/htmlTemplates/base/footer.tpl.html"
