#include "views/htmlTemplates/base/header.tpl.html"
                        <div class="row">
                                <div class="span12">
                                        <table class="table">
                                                <thead>
                                                        <th>User Id</th>
                                                        <th>User Name</th>
                                                        <th>User Perms</th>
                                                        <th>Notes</th>
                                                </thead>
                                                <tbody>
                                                        $userList
                                                </tbody>
                                        </table>
                                </div>
                        </div>
#include "views/htmlTemplates/base/footer.tpl.html"
