<tr>
        <form action="$baseURL$subURL["auth"]/userList" method="POST">
        <td>
                $id
                <input type="hidden" name="id" value="$id">
        </td>
        <td>
                <input type="text" value="$name" name="name">
        </td>
        <td>
                <select name="perms">
                $perms
        </td>
        <td>
                <textarea name="notes">$notes</textarea>
        </td>
        <td>
                <button type="submit" value="submit">Update User</button>
        </form>
</tr>
